body{
    background-color: rgb(18, 18, 93) !important;
    margin:0px;
}

.container{
    background-color: rgb(18, 18, 93) !important;
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}