body{
    background-color: rgb(18, 18, 93) !important;
    margin:0px;
}

.container{
    background-color: rgb(18, 18, 93) !important;
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    border-top:1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}


.quiz-card{
    width: 35rem;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success, .bg-danger{
    color:white;
}